@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact";
  src: url("./fonts/impact/Impact.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TungstenBlack";
  src: url("./fonts/tungsten/Tungsten-Black.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TungstenMedium";
  src: url("./fonts/tungsten/Tungsten-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
*{
  padding: 0;
  margin: 0;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}